@font-face {
  font-family: 'Aspira';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/aspira.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'JaneAusten';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/janeausten.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Pesaro';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pesaro-light.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#header {
  position: relative; }
  #header #jellyfish-title {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    float: left;
    border: solid 2px black;
    align: right;
    border-right-style: none;
    border-left-style: none;
    font-size: 4.75vh;
    color: #333;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Aspira;
    text-align: center;
    width: 42.5%; }
  #header #medusa {
    float: right;
    top: 0%;
    right: 0%;
    font-size: 25vh;
    padding-top: 0;
    font-family: Pesaro; }

#jellyfish {
  transform: translate(20rem, 17rem); }

#latin {
  color: #aa8;
  font-family: JaneAusten;
  transform: rotate(270deg);
  margin: -30vh 100vh;
  width: 70%; }

#volume {
  position: absolute;
  top: 85%;
  color: #aaa;
  transform: rotate(270deg);
  transform-origin: top left;
  float: left;
  font-size: 15vh;
  margin: 25vh 0vh 0vh 0vh; }

#outer {
  margin: 7vh 3vh 10vh 0vh; }

#number-two {
  color: #aaa;
  font-size: 6.5vh;
  transform: rotate(0deg);
  margin: 80vh 0vh 48vh 2vh; }

#o {
  font-size: 5.5vh;
  margin: -7.3vh 20vh 5vh 5.1vh; }

#date {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 4vh;
  border: solid 1px black;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  font-family: Aspira;
  text-align: center; }
